.container {
    display:  flex;
    flex-direction: column;
    margin-top: 3rem;
    border: 1px solid pink;

    &_jobs {
        display: flex;
        flex-direction: column;
        border: 1px solid blue;
        // padding: 4px;
        gap: 5px;
        align-items: flex-start;
    }
}

.jobList{
    display: flex;
    flex-direction: column;
}
